body {
    background: #1f2937;
    color: #e5e7eb;
    font-family: roboto;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #e5e7eb;
    padding: 8px 200px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 72px 200px;
}

.main {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    text-align: left;
    max-width: 500px;
}

.secondary {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

.placeholder {
    display: flex;
    align-items: center;
    background: #6f6f70;
    padding: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 90px;
}

.content-info {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    gap: 48px;
}

.pic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 188px;
}

img {
    border: 4px solid #3882F6;
    border-radius: 16px;
    width: 180px;
    height: 180px;
}

.quote {
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    padding: 150px;
}

.quote b {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.action {
    display: flex;
    justify-content: center;
    background: white;
    padding: 75px 200px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #3882F6;
    width: 1200px;
    padding: 50px 125px;
    border-radius: 8px;
}

.box .text {
    font-size: 24px;
    font-weight: bolder;
}

.box .text p {
    font-size: 16px;
    font-weight: normal;
}

.sign-up {
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    padding: 32px;
    gap: 8px;
}

button {
    background: #3882F6;
    color: white;
    max-width: 120px;
    font-weight: bold;
    padding: 2px 24px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: white;
}